<section class="portfolio grid">
  <div class="portfolio-item grid" style="background-image: url(../resources/img/1.jpg)"><span>Cool Glasses</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/2.jpg)"><span>Cool MacBook</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/3.jpg)"><span>Cool iMac</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/4.jpg)"><span>Cool Hacking</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/5.jpg)"><span>Cool Bull Shit</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/6.jpg)"><span>Cool Workspace</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/7.jpg)"><span>Cool Notebook</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/8.jpg)"><span>Cool Code</span></div>
  <div class="portfolio-item grid" style="background-image: url(../resources/img/9.jpg)"><span>Cool Timer</span></div>
  <div class="buttoncase">
    <a href="" class="button">View Portfolio</a>
  </div>
</section>
