.grid {
  display: grid;
}

body {
  font-family: var(--primary-font);
}

h1, .h1 {
  font-family: var(--secondary-font);
  font-size: 60px;
  font-weight: normal;
  margin: 20px 0;
}

h2, .h2 {
  font-size: 34px;
  font-weight: 800;
  color: var(--color-dark);
  line-height: 1.2;
}

.button {
  display: inline-block;
  background-color: var(--color-orange);
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  padding: 14px 65px;
}

.button:hover {
  opacity: 0.8;
}

.button_gray {
  background-color: var(--color-gray);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 var(--gutter);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
